* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  font-family: sans-serif;
  align-items: center;
}
.container{
  background-color: purple;
  height: 500px;
  width: 100%;
  color: black;
}


nav{
  display: flex;
  flex-direction: row;
  flex: 1fr 2fr 1fr;
  color: black;
  width: inherit;
  position: relative;
  font-size: 20px;
  justify-content: space-between;
  padding-top: 10px;
  position: fixed;
}
nav a{
  color: black;
  margin-right: 40px;
}
nav>div:nth-of-type(2){
  position: absolute;
  left: 250px

}
nav>div:first-of-type{
  position: absolute;
  left: 50px;
}
nav>div:last-of-type{
  position: absolute;
  right: 50px;
  
}
nav>div:last-of-type *{
  margin-right: 10px;
}
nav>div:last-of-type>button{
  height: 50px;
  width: 150px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
}

nav>div:last-of-type>button:hover{
  background-color: black;
  color: white;
  
}

nav>div:last-of-type>img{
  width: 20px;
  height: 20px;
}
.sec-one{
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 600px;
  margin: -350px auto 150px auto;
  padding-bottom: 0px;
  border-radius: 50%;
  position: relative;
  border: 5px solid black;
}
.sec-one > img{
  width: 100%;
  height: 100%;
  border-radius: 40px;
  
  
}
.sec-one>span{
  position: absolute;
  top:20px;
  left: 0;
  color: purple;
  font-size: 80px;
  font-weight: bolder;
  
}
main>section:nth-of-type(2){
  text-align: center;
  padding-top: 0px;
  margin-top: 0px;
  
}
main>section:nth-of-type(2)>div{
  width: 70%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
main>section:nth-of-type(2)>h1{
  font-size: 30px;
  margin-bottom: 20px;
}
main>section:nth-of-type(2)>p{
  color: gray;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
section{
  margin-top: 30px;
}
main>section:nth-of-type(3){
  padding-bottom: 50px;
}
main>section:nth-of-type(3)>div{
  display: flex;
  flex-direction: row;
  padding: 10px 90px;
  
}
main>section:nth-of-type(3) h1{
  font-size: 50px;
  margin-top: 15px;
}
main>section:nth-of-type(3) p{
  line-height: 30px;
}
.first-p{
  color: blue;
}
.last-p{
  margin-top: 20px;
  font-size: 22px;
}
main>section:nth-of-type(3)>div>div{
  width: 100%;
}
.pop-div{
  margin-top: 35px;
}
.pop-div h4{
  font-size: 50px;
  font-weight: 700;
}
.pop-div em{
  font-size: 28px;
  color: blueviolet;
  font-style: normal;
}
.pop-div span, .pop-div p {
  font-weight: 700;
  color: gray;
}
.pop-div>div:nth-of-type(3){
  border-left:1px solid gray ;
  padding-left: 40px;
}
.pop-div>div:last-of-type{
  padding-left: 40px;
  border-left: 1px solid gray;
}
.pop>img{
  width: 50px;
  height: 50px;
  filter:saturate(100%);
  margin-right: 20px;
}
main>section:nth-of-type(4){
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}
main>section:nth-of-type(4)>div{
  display: flex;
  flex-direction: row;
  width: 100%;
  
}
.head-div{
  padding: 60px;
}
.head-div button{
  background-color: blueviolet;
  border: none;
  color: white;
  width: 150px;
  height: 60px;
  border-radius: 20px;
  font-size: 18px;
}
.head-div>div{
  width: 100%;
  height: 100%;
}

.about{
  background: url("https://weblearnbd.net/tphtml/softec-prv/softec/assets/img/about/about-bg-shape.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 50px;
}
.about>img:first-of-type{
  position: absolute;
  height: 150px;
  width: 250px;
  top: -70px;
  left: -10;
}

.about>img:nth-of-type(2){
  position: absolute;
  height: 250px;
  width: 350px;
  top:70px ;
  right: 30px;
  
}

.about>img:nth-of-type(3){
  position: absolute;
  height: 150px;
  width: 250px;
  bottom: -120px;
  left: 60px;
}
.about>img:last-of-type{
  position: absolute;
  top: 250px;
  width: 100px;
  height: 100px;
}
@keyframes slide-in {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.about>img:first-of-type {
  animation: slide-in 4s ease-in-out infinite;
}
@keyframes scale-in-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.about > img:nth-of-type(2) {
  animation: scale-in-out 4s ease-in-out infinite;
}

@keyframes move-up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.about > img:nth-of-type(3) {
  animation: move-up-down 4s ease-in-out infinite;
}




.about-2 *{
  margin-top: 11px;
}
.about-2 ul{
  list-style: none;
}
.about-2 li::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  width: 10px; 
  height: 10px; 
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5xovB174TkKLasORb3qtUr8ZBUl9qi5_p6Q&usqp=CAU");
  background-size: cover;
  background-color: red;
}

.team-head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
  padding: 60px;
}
.team-head button{
  background-color: blueviolet;
  color: white;
  width: 150px;
  height: 50px;
  border-radius: 25px;
  border: none;
  font-size: 15px;
  font-weight: bold;
}
.team-head h5{
  color: blueviolet;
  padding-bottom: 20px;
}
.team-head h3{
  font-size: 45px;
}
.cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 5%;
}
 .img-div{
  background-color: blueviolet;
  width: 220px;
  height: 200px;
  border-radius: 50%;
}
.img-div>img{
  padding: 10px 18px 20px 20px;
  height: 200px;
  width: 150px;
  margin-left: 25px;
}
.info{
  display: flex;
  flex-direction: column;
  width: 150px;
  margin-left: 25px;
  text-align: center;
}
.info>a{
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
  color: black;
}
.info>span{
  margin-top: 10px;
}
.team-card{
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: space-between;
  padding-left: 25px ;
  border-right: 1px solid gray;
  margin-right: 20px;
}
.media{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  margin-top: 20px;
}
.media>img{
  width: 15px;
  height: 15px;
}
.timeline{
  padding: 50px;
}
.timeline-div{
  display: flex;
  flex-direction: row;
  padding: 10px 140px;
}
.timeline-div>div{
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px 5px gray;
  margin-right: 70px;
  text-align: left;
  padding: 10px;
  height: 200px;
  width: 300px;
  margin-top: 30px;
}
.container-position{
  text-align: center;
  margin-top: 80px;
}
.container-position>span{
  color: blueviolet;
  padding-bottom: 60px;
}
.container-position > h2{
  font-size: 40px;
  margin-top: 20px;
}
.position{
  padding: 10px 140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(251, 246, 246);
  border-radius: 5%;
  margin:10px 30px;
  height: 100px;
}
@keyframes move-outwards {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}



.position:hover{
  animation: move-outwards 1s ease-in-out ;
}
.position>div{
  width: 100%;
  text-align: left;
  width: 200px;

}
.position h4{
  font-size: 23px;
  margin-left: 0px;
  padding-left: 0px;
}
.position>div:first-of-type{
  width: 300px
}
.position button{
  background-color: blueviolet;
  color: white;
  border-radius: 10px;
  width: 120px;
  height: 50px;
  font-size: 18px;
  border: none;
}
.position img{
  width: 30px;
  height: 30px;
}
.service{
  background:url("https://weblearnbd.net/tphtml/softec-prv/softec/assets/img/cta/cta-bg.jpg");
  text-align: center;
  padding: 10px 140px;
  margin:10px 30px;
  height: 300px;
  color: white;
  border-radius: 20px;
  
}

.service h2{
  font-size: 35px;
}
.service p{
  font-size: 20px;
}
.service button{
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}
.service *{
  margin-top: 30px;
}
.last{
  display: flex;
  flex-direction: row;
  padding: 10px 140px;
}
.last>div{
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.form-div>i{
  position: absolute;
  padding-top: 10px;
  padding-left: 5px;
}
.form-div>input{
  width: 250px;
  height: 30px;
  padding-left: 30px;
  
  
}
.form-div>i>img{
  width: 10px;
  height: 10px;
}
.form-div>button{
  position: absolute;

  
  
}
.form-div>button>img{
  width: 100%;
  height: 22px
}
#main-logo{
  width: 100px;
  height: 70px;
}
.last img{
  width: 20px;
  height: 20px;
}
.last span{
  margin-top: 50px;
  padding-bottom: 50px;
  font-size: 20px;
  color: gray;
}
.last h3{
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 25px;
}
#social{
  margin-bottom: 10px;
}
.social-div > img{
  margin-left: 5px;
  width: 15px;
  height: 15px;
}

.last a{
  margin-bottom: 20px;
  color: gray;
}

footer{
  margin-top: 20px;
  text-align: center;
}
small{
  padding: 20px;
  font-size: 15px;
  font-weight: 600;
  color: gray;
}




