*{
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.main{
  width: 95%;
  margin: auto;
  box-sizing: border-box;
}

/* navbar styling */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    padding: 1em 4.8em 1em 4em;
    transition: opacity 0.3s ease-in;
    background-color: #007aff;
  }
  nav.hide {
    top: -100px;
  }
  nav.fixed {
    top: 0;
  }
  nav.scrol {
    box-shadow: 2px 1px 5px #e9e6e6;
  }
  nav.scrol button {
    border: 1px solid #cccaca;
  }
  nav.scrol .login a:hover {
    color: unset;
  }
  nav.scrol,
  nav.scrol a,
  nav.scrol .login {
    background-color: white;
    color: black;
  }
  
  nav li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
  nav li {
    list-style-type: none;
  }
  nav li.dropdown:hover > .dropdown-menu {
    display: block;
  }
  nav .dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
  
    padding: 2em;
  }
  
  nav .dropdown-menu li a {
    padding: 10px;
    color: #333;
    text-decoration: none;
  }
  nav .dropdown-menu li:hover {
    background-color: #e0e0e0;
  }
  
  .logo-links {
    display: flex;
    align-items: center;
    width: 60%;
  
    gap: 4em;
  }
  .links {
    display: flex;
    gap: 3.5em;
  }
  .links a {
    text-decoration: none;
    color: white;
  }
  .login-class {
    display: flex;
    align-items: center;
    gap: 3em;
  }
  
  .login a:hover {
    color: #ecdaa2;
  }
  .login a {
    color: white;
    text-decoration: none;
  }
  .login i {
    font-size: 18px;
  }
  .get-started button {
    border: none;
    background-color: white;
    padding: 1em 2em;
    text-align: center;
    font-size: 0.9rem;
    border-radius: 25px;
  }
  .get-started button:hover {
    background-color: #212529;
    color: white;
    cursor: pointer;
  }
  /* nav ends here */

  /* start of section-1 styling */
.section-1{
  background-color: #007aff;
}

.section-1-top{
  text-align: center;
}

.section-1-top h3{
  font-weight: 700;
  font-size: 70px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  padding-bottom: 0px;
  margin-bottom: 0;
}

.section-1-top p{
  margin-top: 0;
  padding-top: -5px;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

.section-1-asset{
  margin-top: -280px;
  position: relative;
  z-index: 3;
  display: flex;
  gap: 20px;
  width: 80%;
  margin: auto;
}

.border{
  border-radius: 30px;
}

.section-1-asset img{
  object-fit: contain;
  border-radius: 30px;
  gap: 20px;
}