*{
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.main{
    width: 95%;
    margin: auto;
    box-sizing: border-box;
}

nav{
    background: linear-gradient(180.21deg, #FFF9F9 -64.58%, rgba(255, 255, 255, 0.1) 115.31%), linear-gradient(90deg, #FFC368 0%, #D569E1 50%, #4164E1 100%);
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}

.header-top{
    display: flex;
    width: 95%;
    justify-content: space-around;
}

.header{
    background: linear-gradient(180.21deg, #FFF9F9 -64.58%, rgba(255, 255, 255, 0.1) 115.31%), linear-gradient(90deg, #FFC368 0%, #D569E1 50%, #4164E1 100%);
    width: 80%;
    margin: auto;
    border-radius: 30px;
    justify-content: space-around;
}

.leading{
    background: linear-gradient(180.21deg, #FFF9F9 -64.58%, rgba(255, 255, 255, 0.1) 115.31%), linear-gradient(90deg, #FFC368 0%, #D569E1 50%, #4164E1 100%);
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.leading h1{
    text-align: center;
    font-size: 80px;
    padding-top: 70px;
}


.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

ul{
    list-style: none;
}

.hero{
    width: 60%;
    margin: auto;
    border-radius: 30px;
    object-fit: contain;
    gap: 16px;
    background-color: rgb(236, 230, 230);
    box-shadow: 10px 10px rgb(235, 233, 233);
}

.top{
    padding-top: 55px;
}


.hero img{
    padding: 10px;
}

.fix{
    width: 80%;
    margin: auto;
}

.fix h1{
    text-align: center;
    font-size: 80px;
    padding-top: 70px;
    padding-bottom: 1px;
    margin-bottom: 0px;
}

.fix p{
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
}


.fix-imgs{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-around;
    gap: 30px;
}

.fix-imgs div{
    padding: 30px;
    border: 1px solid black;
    box-shadow: 1px 1px black;
    border-radius: 30px;
}

.about{
    display: flex;
}

.abt-img{
    width: 50%;
}

.abt-details{
    width: 50%;
    padding: 10px;
}

.abt-details p{
    color: #041e41;
    border: 1px solid blue;
    background-color: aquamarine;
    width: 160px;
    padding: 3px;
    border-radius: 30px;
    text-align: center;
}

.abt-details h1{
    font-size: 70px;
}

.abt-details ul li{
    padding: 15px;
}

.abt-details a{
    text-decoration: none;
    padding: 20px;
    width: 30px;
    color: white;
    background-color: #4164E1;
    border-radius: 30px;
    font-weight: bold;
    margin-top: 30px;
    border-top: 30px;
}

.abt-details a:hover{
    background-color: #041e41;
}

.exp-img{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    padding: 80px;
}

.exp-img div div{
    border-radius: 30px;
    background-color: aqua;
    text-align: center;
}

.chc-div{
    display: flex;
}

.check h1{
    font-size: 70px;
}

.wd-title{
    text-align: center;
}

.testi{
    display: flex;
    width: 60%;
    margin: auto;
    gap: 0px;
    padding-bottom: 20px;  
}

.testi h1{
    font-size: 50px;
}

.testi a{
    text-decoration: none;
    color: #041e41;
}



.testi-1{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 50%;
    padding: 40px;
    color: white;
    background-color: #041e41;
}

.testi-2{
    width: 50%;
    box-shadow: 2px 2px grey;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.testi-logo{
    background-color: grey;
    width: 50%;
    margin: auto;
    justify-content: space-between;
}

.testi-logo img{
    padding-left: 20px;
}

.manter{
    height: 30px;
    width: 60px;
}

.brands{
    width: 60%;
    margin: auto;
    padding-top: 50px;
}

.brands-logo{
    width: 50%;
    gap: 16px;
}

.amazon{
    background-color: blue;
    color: white;
}
.brands-abt{
    width: 50%;
}

.brands-abt h1{
    font-size: 50px;
}

.brands-abt p{
    color: #041e41;
    border: 1px solid blue;
    background-color: aquamarine;
    width: 160px;
    padding: 3px;
    border-radius: 30px;
    text-align: center;
}

.brands-abt a{
    text-decoration: none;
    padding: 20px;
    width: 30px;
    color: white;
    background-color: #4164E1;
    border-radius: 30px;
    font-weight: bold;
    margin-top: 30px;
    border-top: 30px;
}
.brands-abt a:hover{
    background-color: #4164;
}

.brands-logo div{
    border: 1px solid black;
    gap: 20px;
    width: 150px;
    padding: 20px;
    border-radius: 30px;
    justify-content: space-between;
    justify-items: auto;
}

.bil-abt{
    text-align: center;
}

.bil-abt h1{
    font-size: 50px;
    padding-top: 50px;
}

.bil-logo{
    width: 70%;
    margin: auto;
    gap: 20px;
    padding-bottom: 30px;
}

.bil-logo div{
    border: 1px solid black;
    gap: 20px;
    width: 340px;
    padding: 20px;
    border-radius: 30px;
    justify-content: space-between;
    justify-items: auto;
}

.bil-logo ul li{
    padding: 10px;
}

.bil-logo a{
    text-decoration: none;
    padding: 10px;
    width: 70px;
    color: white;
    background-color: #4164E1;
    border-radius: 30px;
    font-weight: bold;
    margin-top: 30px;
    border-top: 30px;
    align-self: center;
}

span{
    color: rgb(242, 99, 123);
}

.footer-abt{
    display: flex;
    justify-content: space-around;
}
.footer-logo{
    color: white;
}
.footer-main{
    display: flex;
}

.footer-main ul li{
    padding: 15px;
}
.footer{
    background-color:#041e41;
    color: white;
    padding: 100px;
}

.footer-bottom{
    display: flex;
    justify-content: space-around;
}

.flex{
    display: flex;
}