* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.container {
    margin: auto;
    width: 85%;
}

/* navbar styling */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 1em 4.8em 1em 4em;
    transition: opacity 0.3s ease-in;
  }
  nav.hide {
    top: -100px;
  }
  nav.fixed {
    top: 0;
  }
  nav.scrol {
    box-shadow: 2px 1px 5px #e9e6e6;
  }
  nav.scrol button {
    border: 1px solid #cccaca;
  }
  nav.scrol .login a:hover {
    color: unset;
  }
  nav.scrol,
  nav.scrol a,
  nav.scrol .login {
    background-color: white;
    color: black;
  }
  
  nav li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
  nav li {
    list-style-type: none;
  }
  nav li.dropdown:hover > .dropdown-menu {
    display: block;
  }
  nav .dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
  
    padding: 2em;
  }
  
  nav .dropdown-menu li a {
    padding: 10px;
    color: #333;
    text-decoration: none;
  }
  nav .dropdown-menu li:hover {
    background-color: #e0e0e0;
  }
  
  .logo-links {
    display: flex;
    align-items: center;
    width: 60%;
  
    gap: 4em;
  }
  .links {
    display: flex;
    gap: 3.5em;
  }
  .links a {
    text-decoration: none;
    color: white;
  }
  .login-class {
    display: flex;
    align-items: center;
    gap: 3em;
  }
  
  .login a:hover {
    color: #ecdaa2;
  }
  .login a {
    color: white;
    text-decoration: none;
  }
  .login i {
    font-size: 18px;
  }
  .get-started button {
    border: none;
    background-color: white;
    padding: 1em 2em;
    text-align: center;
    font-size: 0.9rem;
    border-radius: 25px;
  }
  .get-started button:hover {
    background-color: #212529;
    color: white;
    cursor: pointer;
  }
  /* nav ends here */

/* start of css styling for section-1  */
.transparent-1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.transparent-2 {
    position: absolute;
    top: 0;
    right: 0;
}

.section-1 {
    background-color: #600ee4;
    padding-top: 115px;
    padding-bottom: 35px;
}

.d-flex {
    display: flex;
}

.row {
    flex-wrap: wrap;
}

.text {
    width: 70%;
    margin-top: 60px;
}

.text > h3 {
    font-weight: 700;
    font-size: 70px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    padding-bottom: 12px;
}
.text-head {
    opacity: 0;
    transform: translateX(30px);
    transition: opacity 1s, transform 1s;
  }
  
  .text-head.show {
    opacity: 1;
    transform: translateX(0);
  }
  
  .span-2 {
    transform: scale(0);
    opacity: 0;
    transition: transform 1s, opacity 1s;
  }
  
  .span-2.show {
    transform: scale(1);
    opacity: 2;
  }
  

span.home > a, .span-2 {
    color: #ffffffb3;
    font-weight: 400;
    text-decoration: none;
}

.span-2 {
    margin-left: 1%;
}

.text span:last-child {
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
    margin-left: 1%;
}

.img {
    width: 30%;
    display: flex;
    justify-content: end;
}

.robot {
    position: absolute;
    top: 150px;
    right: 100px;
}
/* end of css styling for section-1  */

/* start of css styling for section-2  */
.s2p {
    padding: 100px 30px 100px 30px;
}

.subsec-1 {
    background: #F5F7FA;
    border-radius: 30px;
    padding: 60px 40px 70px 40px;
}

.img-area {
    width: 33.33333333%;
    padding: 0 15px 0 15px;
}

.text-area {
    width: 66.66666667%;
    padding: 0 15px 0 15px;
}

.work-image img {
    border-radius: 50%;
    background-color: #b3b7ff;
}

.work-tag {
    background: #0B0416;
    border-radius: 30px 30px 0px 30px;
    display: inline-block;
    padding: 10px 13px;
    transform: translateY(-15px);
}

.work-tag span {
    font-weight: 600;
    font-size: 13px;
    line-height: 14px;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.work-location span {
    font-weight: 600;
    font-size: 13px;
    line-height: 14px;
    letter-spacing: -0.02em;
    color: #5F6168;
}

.work-location span:first-child {
    padding-right: 10px;
}

.text-area h3 {
    font-weight: 600;
    font-size: 46px;
    line-height: 36px;
    letter-spacing: -0.02em;
    color: #202124;
    padding-bottom: 20px;
    margin-bottom: 0.5rem;
}

.contact-box {
    margin-bottom: 40px;
}

.social-info a {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    background-color: #FEFEFE;
    display: inline-block;
    font-size: 12px;
    transition: 0.3s;
    margin-right: 3px;
    color: #5f6368;
}

.personal-info a {
    background-color: #FEFEFE;
    padding: 8px 20px;
    border-radius: 30px;
    margin-right: 7px;
    text-decoration: none;
    color: #5f6368;
}

.personal-info {
    margin-left: 7px;
    margin-top: 7px;
}

.experience-box {
    padding-bottom: 35px;
}

.design, .years {
    margin-right: 100px;
}

.experience-box span {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #87888A;
    padding-bottom: 10px;
    display: inline-block;
}

.experience-box em {
    font-weight: 600;
    font-size: 22px;
    line-height: 14px;
    color: #202124;
    font-style: normal;
}

.skill-box h5 {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #87888A;
    padding-bottom: 10px;
    margin-bottom: 0.5rem;
}

.skill-box span {
    padding: 10px 20px;
    background-color: #ffffff;
    display: inline-block;
    border-radius: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 12px;
    color: #5F6168;
    margin-right: 5px;
    margin-bottom: 10px;
}

.subsec-2 {
    padding: 80px 120px 0 200px;
}

.text-1 {
    padding-bottom: 10px;
}

.text-1 h4 {
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    padding-bottom: 10px;
    margin-bottom: 0.5rem;
}

.text-1 p {
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #5F6168;
    padding-right: 30px;
    margin-bottom: 1rem;
}

.list {
    padding-bottom: 30px;
    padding-left: 30px;
}

.list ul {
    list-style-type: unset;
}

.list ul li {
    position: relative;
    padding-left: 20px;
    font-weight: 400;
    font-size: 17px;
    line-height: 34px;
    color: #5F6168;
}

.text-2 {
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #5F6168;
}
/* end of css styling for section-2  */

/* start of css styling for section-3  */
/* .grey-bg {
    height: 170px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
    background: #eeeef5;
} */

.bg-img {
    background-image: url(/Assets/sec-3/bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px;
    padding: 70px 40px;
}

.bg-img > h3 {
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 0.5rem;
}

.bg-img > p {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.8);
    padding-bottom: 20px;
    margin-bottom: 1rem;
}

.bg-img > a {
    background: #ffffff;
    height: 50px;
    line-height: 50px;
    border-radius: 30px;
    padding: 15px 35px;
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    color: black;
    text-decoration: none;
}

.ta {
    text-align: center;
}
/* end of css styling for section-3  */

/* start of css styling for footer  */

/* footer animation starts */
#logo-up {
    margin-top: 1em;
    font-size: 1.4rem;
    opacity: 0;
    transform: translateY(-50px);
    animation: slidetop 2s 0.1s forwards;
  }
  @keyframes slidetop {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  #navigate-up {
    margin-top: 1em;
    font-size: 1.4rem;
    opacity: 0;
    transform: translateY(-50px);
    animation: navigateup 2s 0.3s forwards;
  }
  @keyframes navigateup {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

 #other-page {
    margin-top: 1em;
    font-size: 1.4rem;
    opacity: 0;
    transform: translateY(-50px);
    animation: otherpage 2s 0.5s forwards;
  }
  @keyframes otherpage {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  #news-letter {
    margin-top: 1em;
    font-size: 1.4rem;
    opacity: 0;
    transform: translateY(-50px);
    animation: newsletter 2s 0.3s forwards;
  }
  @keyframes newsletter {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* .h1-list {
    margin: 2em auto 1em auto;
    text-align: center;
    opacity: 0;
    transform: translateX(-50px);
    animation: slideleft 5s 1s forwards;
  }
  @keyframes slideleft {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  } */
/* animation ends */
footer {
    background: #eeeef5;
    padding-top: 105px;
}

.b-b {
    border-bottom: 1px solid #DFDFEA;
    padding-bottom: 45px;
}

.pd {
    padding: 0 30px 0 30px;
}

.row-flex {
    width: 30%;
}

.row-flex-2 {
    width: 20%;
}

.rf-2 {
    width: 20%;
}

.rf-3 {
    width: 30%;
}

.Newsletter {
    padding-left: 40px;
}

ul {
    list-style-type: none;
}

footer a {
    text-decoration: none;
    color: #5f6368;
}

.r-d {
    padding-bottom: 30px;
}

.logo {
    margin-bottom: 25px;
}

.contact-info ul li a {
    padding-left: 15px;
}

.contact-info > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #595B62;
    font-family: var(--tp-ff-urban);
    padding-bottom: 5px;
    margin-bottom: 1rem;
}

.contact-info ul li:first-child {
    margin-bottom: 18px;
}

.r-d h4 {
    color: #202124;
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 25px;
    margin-bottom: 0.5rem;
}

.footer-content ul li {
    margin-bottom: 10px;
}

.email {
    margin-bottom: 35px;
}

.email input {
    background-color: #ffffff;
    border: none;
    height: 60px;
    width: 100%;
    border-radius: 40px;
    padding-left: 55px;
    padding-right: 80px;
    font-weight: 400;
    font-size: 14px;
}

/* .email span {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
} */

.socials h4 {
    padding-bottom: 8px;
    font-weight: 600;
    font-size: 18px;
    line-height: 16px;
    color: #202124;
}

.socials a {
    margin-left: 6px;
    margin-right: 20px;
}

.copyright {
    padding: 20px 0;
}

.copyright > div:last-child {
    padding: 0 30px;
}

.c-span {
    color: #5f6368;
    font-weight: 500;
    font-size: 15px;
    line-height: 12px;
}

.c-span > a {
    color: #000229;
    text-decoration: none;
}
/* end of css styling for footer  */