* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: auto;
    width: 85%;
}

/* start of css styling for section-1  */
.transparent-1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.transparent-2 {
    position: absolute;
    top: 0;
    right: 0;
}

.section-1 {
    background-color: #600ee4;
}

.d-flex {
    display: flex;
}

.row {
    flex-wrap: wrap;
}

.text {
    width: 70%;
}

.img {
    width: 30%;
    display: flex;
    justify-content: end;
}
/* end of css styling for section-1  */