* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.transparent-1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.transparent-2 {
    position: absolute;
    top: 0;
    right: 0;
}

.section-1 {
    background-color: #600ee4;
}